[package]
name = "windows-switcher"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lazy_static = "1.4"

[dependencies.windows]
version = "0.32.0"
features = [
    "Win32_Foundation",
    "Win32_UI_WindowsAndMessaging",
    "Win32_UI_Input",
    "Win32_UI_Input_KeyboardAndMouse",
]

[build-dependencies]
embed-resource = "1.6.5"

[profile.release]
lto = true
strip = true
opt-level = "z"